.app-content {
    display: flex;
    // height: 100%;
    // flex: 1;
    
//     @media only screen
//     and (max-width: 37.5em)
//     and (orientation: landscape) {
//         flex-direction: row;
//         color: $color-ternary-dark;
//    }



    // @include breakpoint(medium) {
    //     overflow-y: scroll;
    //     -webkit-overflow-scrolling: touch;
    //     min-height: 0;
    // }

    @include breakpoint(small) {
        min-height: 0;

        margin: 0;
        flex-direction: column;
    }

}