.app-monument-view {
    flex: 1;
    // 
    // max-height: 50rem;
    // height: 100vh;
    font-size: 4rem;

    // background-color: $color-white;
    background-color: $color-grey-light;

    // min-height: 50rem;




    @include breakpoint(medium) {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        min-height: 0;
    }
    

    @include breakpoint(small) {
        // height: 66vh;
        min-height: 0;
        height: 100%;
    }
}