.card {
  perspective: 150;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    font-size: 2rem;
    height: 50rem;
    transition: all .7s ease-in;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 1.5rem 2rem 1rem rgba($color-black, 0.15);

    &--front {
      // background: url(../img/stardust.png) repeat;
      background: url(../img/old_map.png) repeat;
      
    }

    &--back {
      transform: rotateY(180deg);
      // background: url(../img/stardust.png) repeat;
      background: url(../img/old_map.png) repeat;
      

      // &-1 {
      //   // background-image: linear-gradient(
      //   //   to right bottom,
      //   //   rgba($color-secondary-light, .6),
      //   //   $color-white
      //   // );
      // background: url(../img/stardust.png) repeat;
        
      // }
      // &-2 {
      //   // background-image: linear-gradient(
      //   //   to right bottom,
      //   //   rgba($color-ternary, .6),
      //   //   $color-white
      //   // );
      // background: url(../img/stardust.png) repeat;
        
      // }

      // &-3 {
      //   // background-image: linear-gradient(
      //   //   to right bottom,
      //   //   rgba($color-primary, .6),
      //   //   $color-white
      //   // );
      // }
    }
  }



  /*FRONT SIDE*/
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: color-dodge;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    // transform: scale(1.3);
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, .5),
        rgba($color-secondary-dark, .2)
      ),
      url(../img/gliwice-ratusz-card.jpg);

      @media (min-resolution: 192dpi) and (min-width: 37.5rem),   // retina display (2xDPI) && screens of size>600px
      (min-width: 125) {                                          // OR screens of width bigger than width of the image
          background-image: linear-gradient(
              to right bottom,
              rgba($color-primary-light, 0.8),
              rgba($color-secondary-dark, 0.8)        
          ),
          url(../img/gliwice-ratusz-card-large.jpg);
      }
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-ternary-dark, .5),
        rgba($color-ternary-light, .2)
      ),
      url(../img/radiostacja-card.jpg);

    }

    &--3 {
      background-blend-mode: color-dodge;      
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, .5),
          rgba($color-grey-light, .2)
        ),
        url(../img/willa-caro-card.jpg);

        @media (min-resolution: 192dpi) and (min-width: 37.5rem),   // retina display (2xDPI) && screens of size>600px
        (min-width: 125) {                                          // OR screens of width bigger than width of the image
            background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-secondary-dark, 0.8)        
            ),
            url(../img/willa-caro-card-large.jpg);
        }
      }


  }

&__heading {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  // text-align: right;
  color: $color-white;
  position: absolute;
  top: 22rem;
  left: 11rem;
  // width: 75%;

  &--1 {
    left: 15rem;
  }

}

&__heading-span {
  padding: 1rem 1rem;

  &--1 {
    // color: $color-secondary-dark;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, .5),
      rgba($color-secondary-dark, .2)
    ),
  }

  &--2 {
    // color: $color-secondary-dark;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-ternary-dark, .5),
      rgba($color-ternary-light, .2)
    ),
  }

  &--3 {
    // color: $color-secondary-dark;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, .5),
      rgba($color-primary-light, .2)
    ),
  }
}

&__details {
  padding: 2.5rem;
  color: $color-secondary-dark;


  ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;

    li {
      font-size: 1.6rem;
      padding: 1rem;
      text-align: center;

      &:first-child {
        padding-top: 2.5rem;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $color-white;
      }
    }
  }
}

// BACK SIDE

&__cta {

  @include center-element-inside-container;
  width: 90%;
  text-align: center;
  
}

&__more-info {
  font-size: 2.5rem;
  font-weight: 300;
  color: $color-white;
  display: block;
}






// @include breakpoint(large) {
  @media only screen and (max-width: 56.25em),
          only screen and (hover:none) {              // or when there is no posibility to hover <opposite: hover: hover)

&__heading {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  // text-align: right;
  color: $color-white;
  position: absolute;
  top: 22rem;
  left: 0;
  // width: 75%;
}

&__heading-span {
  // padding: 1rem 1rem;

  &--1 {
    // color: $color-secondary-dark;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, .5),
      rgba($color-secondary-dark, .2)
    ),
  }

  &--2 {
    // color: $color-secondary-dark;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-ternary-dark, .5),
      rgba($color-ternary-light, .2)
    ),
  }

  &--3 {
    // color: $color-secondary-dark;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, .5),
      rgba($color-primary-light, .2)
    ),
  }
}

&__details {
  padding: 2.5rem;
  color: $color-white;


  ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;

    li {
      font-size: $default-font-size;
      padding: 1rem;
      text-align: center;

      &:first-child {
        padding-top: 2.5rem;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $color-white;
      }
    }
  }
}

}

@include breakpoint(medium) {


  &__details {
    padding: 2.5rem;
    color: $color-white;
  
  
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
  
      li {
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
  
        &:first-child {
          padding-top: 2.5rem;
        }
        &:not(:last-child) {
          border-bottom: 1px solid $color-white;
        }
      }
    }
  }
  
  }
  

}
