@keyframes moveInLeft {
  0% {
    /*add the beginning of animation, the object is invisibe*/
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    /*add the beginning of animation, the object is invisibe*/
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    /*add the beginning of animation, the object is invisibe*/
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 0.6;
    transform: translateX(0); } }

@keyframes logoMoveIn {
  0% {
    /*add the beginning of animation, the object is invisibe*/
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /*	The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/ }

body {
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* padding is not inherited*/ }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-size: 400;
    letter-spacing: 1.75rem;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease-in-out; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #0084A9, #134074);
  display: inline-block;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .heading-secondary__white {
    color: #fff; }
    .heading-secondary__white--small {
      font-size: 5rem; }

.heading-ternary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  transition: all 0.5s;
  display: inline-block;
  margin: 0 auto;
  border-radius: 1rem;
  font-size: 1.6rem;
  position: absolute;
  left: 17.5rem; }

.btn--white {
  background-color: #fff;
  opacity: 0.6;
  color: #777; }

.btn:hover {
  opacity: 1;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn span {
  cursor: pointer;
  position: relative;
  transition: 0.5s; }

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: -14px;
  right: -20px;
  transition: 0.5s;
  font-size: 2.6rem; }

.btn:hover span {
  padding-right: 25px; }

.btn:hover span:after {
  opacity: 1;
  right: 0; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.showcase {
  list-style: none;
  width: 100%;
  padding: 0; }
  .showcase li {
    display: block;
    float: left;
    width: 50%;
    overflow: hidden; }
  .showcase__photo {
    width: 100%;
    opacity: 0.9;
    transform: scale(1.2);
    transition: all .5s; }
    .showcase__photo:hover {
      opacity: 1;
      transform: scale(1.05); }

.card {
  perspective: 150;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  /*FRONT SIDE*/ }
  .card__side {
    font-size: 2rem;
    height: 50rem;
    transition: all .7s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 1.5rem 2rem 1rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background: url(../img/stardust.png) repeat; }
    .card__side--back {
      transform: rotateY(-180deg);
      background: url(../img/stardust.png) repeat; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: color-dodge;
    overflow: hidden;
    border-radius: 10px;
    width: 100%; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(211, 73, 83, 0.5), rgba(75, 20, 24, 0.2)), url(../img/gliwice-ratusz-card.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(190, 160, 24, 0.5), rgba(254, 221, 93, 0.2)), url(../img/radiostacja-card.jpg); }
    .card__picture--3 {
      background-blend-mode: color-dodge;
      background-image: linear-gradient(to right bottom, rgba(19, 64, 116, 0.5), rgba(247, 247, 247, 0.2)), url(../img/willa-caro-card.jpg); }
  .card__heading {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 22rem;
    left: 11rem; }
    .card__heading--1 {
      left: 15rem; }
  .card__heading-span {
    padding: 1rem 1rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(211, 73, 83, 0.5), rgba(75, 20, 24, 0.2)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(190, 160, 24, 0.5), rgba(254, 221, 93, 0.2)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(19, 64, 116, 0.5), rgba(0, 132, 169, 0.2)); }
  .card__details {
    padding: 2.5rem;
    color: #fff; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        font-size: 1.6rem;
        padding: 1rem;
        text-align: center; }
        .card__details ul li:first-child {
          padding-top: 2.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem)/4) + 2 * 6rem); }

.header {
  height: 94vh;
  background-image: linear-gradient(to right bottom, rgba(0, 132, 169, 0.8), rgba(75, 20, 24, 0.8)), url(../img/radiostacja_small.jpg);
  background-size: cover;
  background-position: top; }
  .header__logo--box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* the other parameter (width:size) will be figured out automatically*/
    animation-name: moveInBottom;
    animation: ease-in;
    animation-duration: 1s; }
  .header__text--box {
    position: absolute;
    /* aligned inside parent element!! */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 0 25rem 0; }

.section-cards {
  background: url(../img/old_moon.png) repeat scroll 0% 0%;
  padding: 10rem 0 20rem 0; }
