<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.ico">

    <title>Gliwice | Odkryj piękno</title>
</head>

<body>
    <header class="header">
        <div class="header__logo--box">
            <img src="../static/img/logo.png" alt="Logo" class="header__logo">
        </div>

        <div class="header__text--box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Gliwice</span>
                <span class="heading-primary--sub">Przyszłość jest tu</span>
            </h1>

            <a href="" class="btn btn--white btn--animated">
                <span>Odryj!</span>
            </a>
        </div>
    </header>

    <main>
        <section class="section-about">
            <div class="u-center-text u-margin-bottom-large">
                <h2 class="heading-secondary">
                    Odkryj piękną stronę Gliwic!
                </h2>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <ul class="showcase">
                        <li>
                            <figure>
                                <img src="../static/img/kosciol_sw._jerzego-large.jpg" alt="Kościół" class="showcase__photo showcase__photo--no1">
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="../static/img/ratusz.jpg" alt="Ratusz" class="showcase__photo showcase__photo--no2">
                            </figure>
                        </li>
                    </ul>
                    <ul class="showcase">
                        <li>
                            <figure>
                                <img src="../static/img/zamek.jpg" alt="Zamek" class="showcase__photo showcase__photo--no3">
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="../static/img/poczta.jpg" alt="Poczta" class="showcase__photo showcase__photo--no4">
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-1-of-2">
                    <h3 class="heading-ternary u-margin-bottom-small">Poznaj gliwicke zabytki</h3>
                    <div class="paragraph">Gliwice to miasto pęłne klimatu i zabytkowych budowli. Historia miesza się tu z nowoczesnością, przeszłość
                        z teraźniejszośćią. W codzinnej gonitwie łatwo jest przeoczyć uroki tego wspaniałego miasta.</div>

                    <h3 class="heading-ternary u-margin-bottom-small">Zakochaj się w Gliwicach</h3>
                    <div class="paragraph">Strona na której się znalazłeś daje Ci wyjątkową możliwość przybliżenia sobie historii tych wspaniałych
                        miejsc oraz zachęca do odbycia spaceru po mieście. Na żywo jest jeszcze piękniej!</div>
                </div>
            </div>
        </section>
        <section class="section-cards">
            <div class="u-center-text u-margin-bottom-large">
                <h2 class="heading-secondary heading-secondary__white heading-secondary__white">
                    Oto co możesz zobaczyć
                </h2>
            </div>
            <div class="row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front card__side--front-1">FRONT</div>
                        <div class="card__side card__side--back card__side--back-1">BACK</div>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front card__side--front-2">FRONT</div>
                        <div class="card__side card__side--back card__side--back-2">BACK</div>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front card__side--front-3">FRONT</div>
                        <div class="card__side card__side--back card__side--back-3">BACK</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- 
    <section class="grid-test">
        <div class="row">
            <div class="col-1-of-2">
                Column 1 of 2
            </div>
            <div class="col-1-of-2">
                Column 1 of 2
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Column 1 of3
            </div>
            <div class="col-1-of-3">
                Column 1 of 3
            </div>
            <div class="col-1-of-3">
                Column 1 of 3
            </div>
        </div>
        <div class="row">
            <div class="col-1-of-3">
                Column 1 of 3
            </div>
            <div class="col-2-of-3">
                Column 2 of 3
            </div>

        </div>

        <div class="row">
            <div class="col-1-of-4">
                Column 1 of 4
            </div>
            <div class="col-1-of-4">
                Column 1 of 4
            </div>
            <div class="col-1-of-4">
                Column 1 of 4
            </div>
            <div class="col-1-of-4">
                Column 1 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Column 1 of 4
            </div>
            <div class="col-1-of-4">
                Column 1 of 4
            </div>
            <div class="col-2-of-4">
                Column 2 of 4
            </div>
        </div> 

        <div class="row">
                <div class="col-1-of-4">
                    Column 1 of 4
                </div>
                <div class="col-3-of-4">
                    Column 3 of 4
                </div>

            </div>
    </section> -->

</body>

</html>