<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logowanie</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/favicon.ico">
    <link rel="shortcut icon" type="image/png" th:href="@{img/favicon.ico}">

    <link rel="stylesheet" type="text/css" href="../static/node_modules/bootstrap/dist/css/bootstrap.css" />


    <link rel="stylesheet" type="text/css" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" />
</head>

<body>
<div class="container-fluid">
    <!-- <div class="row">
    <h1>Login page</h1>
    <p th:if="${loginError}" class="is-invalid">Wrong user or password</p>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" />
        <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" />
        <br />
        <input type="submit" value="Log in" />
    </form> -->


    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Logowanie</h2>
                <div class="col-md">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                    <p th:if="${loginError}" class="is-invalid">Zła nazwa użytkownika lub hasło</p>    
                            </span>
                        </div>
                    </div>
                <hr>
            </div>
        </div>
    <form th:action="@{/login}" method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only sr-only-focusable" for="username">E-Mail Address</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"><i class="fa fa-at"></i></div>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Nazwa użytkownika" required autofocus="autofocus">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Hasło" required>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3"></div>

        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-success" value="Zaloguj"/>
            </div>
        </div>
    <!-- </div> -->
    </form>
</div>



</body>

</html>