.section-about {
  background-color: $color-grey-light;
  padding: 10rem 0 15rem 0;

  @include breakpoint(large) {
  padding: 5rem 0 10rem 0;
    
  // color: $color-dark;


  }
}

.section-cards {
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba($color-primary-light, 0.8),
  //     rgba($color-black, 0.8)
  //   ),
  //   url(../img/stara_fabryka_drutu.jpg);
  // background: url(../img/dust_scratches.png) repeat;

  //========================================================
  //  This pattern is downloaded from www.subtlepatterns.com
  //  If you need more, that's where to get'em.
  //  ========================================================
  // background: url(../img/cheap_diagonal_fabric.png) repeat scroll 0% 0%;
  background: url(../img/stardust.png) repeat scroll 0% 0%;
  // background: url(../img/old_map.png) repeat scroll 0% 0%;
  // background: url(../img/tweed.png) repeat scroll 0% 0%;
  // background: url(../img/old_moon.png) repeat scroll 0% 0%;
  // background: url(../img/mochaGrunge.png) repeat scroll 0% 0%;
  // background-image: linear-gradient(
  //   to bottom,
  //   rgba($color-secondary, 0.5),
  //   rgba($color-primary-dark, 0.2)
  //   ),
  //   url(../img/mochaGrunge.png);
  
  

  // background-size: cover;

  padding: 10rem 0 20rem 0;

  @include breakpoint(large) {
    padding: 5rem 0 10rem 0;    
  }

}

.section-search {
  padding: 15rem 0;
  background-color: $color-grey-light;

  @include breakpoint(large) {
  padding: 10rem 0;    
  }
}

.search {
  background-image: linear-gradient(
      to right,
      rgba($color-primary, 0.9) 0%,
      rgba($color-primary, 0.9) 50%,
      transparent 50%
    ),
    url(../img/rynek.jpg);

  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);


  &__form {
    width: 50%;
    padding: 6rem;



    @include breakpoint(large) {
      width: 75%;   
      background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.9) 0%,
        rgba($color-primary, 0.9) 100%,
        transparent 50%
      ),
      url(../img/rynek.jpg);  
    }

    @include breakpoint(medium) {
      width: 100%;  

    }
  }
}
