*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    color: $color-secondary;
    background-color: antiquewhite;
}

body {
    box-sizing: border-box; /*	The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
  }