
$color-primary: #134074;
$color-primary-light: #0084A9;
$color-primary-dark: #23568F;

$color-secondary: #BA2632;
$color-secondary-light: #D34953;
$color-secondary-dark: #98101A;

$color-ternary: #EAC435;
$color-ternary-light: #FEDD5D;
$color-ternary-dark: #C9A313;